


.links{
  color: white;
  padding-left: 50px;
}

.links a:hover {
  color: white;
}

.links a.active {
  
  color: white;
}



.header{
    background-color: #ef5d57;
    color: white;
    font-size: 20px;
  }
  
  .footer{
    background-color: #ef5d57;
    color: rgb(252, 252, 252);
    height:60px;
    margin-bottom: 0px;
    padding: 15px 0 0 10px;
  }
  .img{
    margin:50px 150px 20px 50px; 
    
    }

  .leftcol{
    padding: 50px 0px;
    border-right: 2px solid #ef5d57;
    height: 600px;
  }

  .rightcol{
    background-color: #EDEDED;
  }

.text{
  color: #595260;
  font-size: 20px;
  text-align: justify;
  padding-left: 60px;
  padding-top: 15px;
}
.text:hover{
  color: #ef5d57;
}

.active{
  color: #ef5d57;
}
  
#space{
  padding-left: 250px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: white;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-brand {
  color: white;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: 5rem;
}

.heading{
  color: #ef5d57;
  font-size: 1.5rem;
}

.content{
  color: #595260;
  font-size: 1.2rem;
}

.container{
  padding: 70px 0 0 150px;
}

.tlinks{
  color: #595260;
  margin-left: 30px;
}




